# Dependências
node_modules/
package-lock.json
yarn.lock

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Variáveis de desenvolvimento (usar .env.example)
.env.development.local

database/cigital.sql